// hero

.hero {
  background-color: #EEEFF1;
		&__container {
		}

		&__wrapper {
      padding: 125px 0 65px 0;
      display: flex;
      gap: 65px;
      justify-content: center;
      align-items: center;
      @media (max-width: 800px) {
        padding: 85px 0 30px;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
		}

		&__picture {
      padding:  20px 0;
		}

		&__block {
      max-width: 600px;
      @media (max-width: 1000px) {
        max-width: 320px;
      }
		}
}
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media (max-width: 800px) {
    justify-content: center;
    gap: 15px;
  }
		&__title {
      font-size: 40px;
      line-height: 46px;
      font-weight: 600;
      @media (max-width: 1000px) {
        font-size: 28px;
        line-height: 34px;
      }
		}

		&__subtitle {
      font-size: 20px; 
      font-weight: 400;
      color: #727272;
      @media (max-width: 1000px) {
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 20px;
      }
		}

  &__button {
    cursor: pointer;
    border: none;
    background-color: #855feeb0;
    padding: 10px;
    border-radius: 2px;
    font-weight: 600;
    color: #ffffffc9;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 black;
    
    &:hover {
      background-color: #855fee48;
      color: #160a0abd;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0px 0px 0;
      background-color: #855fee48;
      color: #160a0abd;
    }
    @media (max-width: 800px) {
      padding: 10px;
      font-size: 14px;
      width: 300px;
    }
  }
}

/////


.qsts {
  padding: 90px 0;
		&__container {
		}

		&__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
		}

		&__animation {
      align-self: flex-end;
      transform: translatex(-100px);
      @media (max-width: 800px) {
        align-self: center;
        transform: translatex(0);
        margin-bottom: 40px;
      }
		}

		&__title {
      font-size: 30px;
      align-self: flex-start;
      @media (max-width: 800px) {
        font-size: 24px;
      }
		}

		&__text {
      color: #636262;
      text-align: justify;
      font-size: 22px;
      @media (max-width: 800px) {
        align-self: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
      }
		}
}

///// projects




.projects {
  overflow-y: auto;
  display: flex;

  background-color: #34547A;
  padding: 50px 0;
		&__wrapper {
		}

		&__cardbox {
		}
}
.card-box {
  width: 1100px;
  height: 250px;
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
		&__item {
      cursor: pointer;
		}
}



.card {
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.747);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(37, 0, 0, 0.44);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: #855feeb0;
}

.card:hover {
  height: 204px;
  transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.13);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.164);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.151);
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  color: #855feeb0;
  font-weight: 300;
  text-shadow: -10px 5px 10px rgba(184, 168, 168, 0.267);
}

