.absolute {
  &__wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-image.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main__hero {
  position: relative;
}

.main__hero-text {
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: var(--base-100_100, #FFF);
    text-align: center;

    /* desktop/hero */
    font-family: "Bebas Neue Pro";
    font-size: 120px;
    font-style: normal;
    font-weight: 800;
    line-height: 85%; /* 102px */
    text-transform: uppercase;
    margin: 0 0 20px 0;
    @media (max-width: 768px) {
      font-size: 64px;
      max-width: 293px;
    }
  }

  h2 {
    color: var(--base-100_100, #FFF);

    /* desktop/subtitle */
    font-family: "Bebas Neue Pro";
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 85%; /* 47.6px */
    text-transform: uppercase;
    margin: 0;
    @media (max-width: 768px) {
      color: var(--base-100_100, #FFF);
      text-align: center;
      max-width: 296px;
      /* mobile/subtitle */
      font-family: "Bebas Neue Pro";
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: 85%; /* 20.4px */
      text-transform: uppercase;
    }
  }
}

.main__hero-image {
  opacity: 0;
  transform: scale(0.5); /* Початковий стан: зменшена картинка */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-image.visible {
  opacity: 1;
  transform: scale(1); /* Картинка повертається до нормального розміру */
}

.main__hero-text {
  opacity: 0;
  transform: translateY(-50px); /* Початковий стан: текст вище */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-text.visible {
  opacity: 1;
  transform: translateY(0); /* Текст повертається на місце */
}

.main__hero-content {
  display: flex;
  flex-direction: column; /* Розташування елементів вертикально */
  justify-content: center; /* Вирівнювання по вертикалі */
  align-items: center; /* Вирівнювання по горизонталі */
  height: 100%; /* Займає всю висоту контейнера */
  text-align: center; /* Центрування тексту */
}

.main__hero-image {
  position: absolute;
  opacity: 0;
  transform: scale(0.5); /* Початковий стан: зменшена картинка */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-image.visible {
  position: absolute;
  opacity: 1;
  transform: scale(1); /* Картинка повертається до нормального розміру */
}

.main__hero-text {
  opacity: 0;
  transform: translateY(-50px); /* Початковий стан: текст вище */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-text.visible {
  opacity: 1;
  transform: translateY(0); /* Текст повертається на місце */
}



.main__wrapper{
  position: relative;
}

//about



.about {
  &__wrapper {
    padding: 0px 0 90px 0;
    max-width: 800px;
    margin: 0 auto;
    @media (max-width: 1280.98px) {
      padding: 0px 0 40px 0;
    }
    @media (max-width: 744.98px) {
      padding: 0px 0 90px 0;
    }
    @media (max-width: 360.98px) {
      padding: 0px 0 90px 0;
    }
  }

  &__main {
  }

  &__title {
    position: relative;
    color: var(--base-100_100, #FFF);
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    line-height: 90%; /* 72px */
    text-transform: uppercase;
    margin: 0 0 56px 0;
    &::before {
      position: absolute;
      content: 'about us';
      text-wrap: no-wrap;
      top: -30px;
      left: center;
      opacity: 0.2;
      background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: blur(2px);
    }
    &::after {
      position: absolute;
      content: 'about us';
      text-wrap: no-wrap;
      width: 266px;
      top: 30px;
      transform: translate(-100%);
      left: center;
      opacity: 0.2;
      background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: blur(2px);
      @media (max-width: 460.98px){
        transform: translate(-75%);
      }
    }
    @media (max-width: 1280.98px) {
      
    }
    @media (max-width: 744.98px) {
      
    }
    @media (max-width: 460.98px) {
      font-size: 44px;
      margin: 0 0 32px 0;
    }
  }

  &__image-block {
    float: right;
    margin: 0 0 0 10px;
  }

  &__foot-img {
    max-width: 277px;
    margin: 0 0 10.29px 0;
    position: relative;
    @media (max-width: 1280.98px) {
      max-width: 186px;
    }
    @media (max-width: 744.98px) {
      max-width: 128px;
    }
    @media (max-width: 460.98px) {
      max-width: 128px;
    }
  }

  &__license-img {
    @media (max-width: 1280.98px) {
      max-width: 186px;
    }
    @media (max-width: 744.98px) {
      max-width: 128px;
    }
    @media (max-width: 460.98px) {
      max-width: 128px;
    }
  }

  &__text-block {
    
  }

  &__subtitle-block {
    color: var(--base-100_100, #FFF);

    /* desktop/header-6 */
    font-family: "Bebas Neue Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 25.2px */
    text-transform: uppercase;
    max-width: 492px;
    margin: 0 0 32px 0;
    @media (max-width: 744.98px) {
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 8px 0;
    }
    @media (max-width: 500.98px) {
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 8px 0;
    }
  }

  &__subtitle {
    margin: 0 0 16px 0;
    font-size: 28px;
    @media (max-width: 744.98px) {
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 8px 0;
    }
    @media (max-width: 500.98px) {
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 8px 0;
    }
  }

  &__subtitle-line {
  }

  &__text-cover {
    max-width: 492px;
  }

  &__inf {
    color: var(--base-100_100, #FFF);
    font-family: "Bebas Neue Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 24px */
    &:first-child {
      margin: 0 0 16px 0;
      @media (max-width: 744.98px) {
        margin: 0 0 8px 0;
      }
    }
    @media (max-width: 744.98px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.container {
}
.abbout {

  &__info {
  }
}

//services


.services {
  padding: 30px 0 10px 0;
  &__wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 90px 0 90px 0;
    border-top: 1px dashed var(--base-100_20, rgba(255, 255, 255, 0.20));
    @media (max-width: 744.98px) {
      padding: 46px 0 40px 0;
    }
  }

  &__title {
    position: relative;
    color: var(--base-100_100, #FFF);
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    line-height: 90%; /* 72px */
    text-transform: uppercase;
    margin: 0 0 56px 0;
    &::before {
      position: absolute;
      content: 'services';
      text-wrap: no-wrap;
      top: -30px;
      left: center;
      opacity: 0.2;
      background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: blur(2px);
    }
    &::after {
      position: absolute;
      content: 'services';
      text-wrap: no-wrap;
      max-width: 266px;
      top: 30px;
      transform: translate(-100%);
      left: center;
      opacity: 0.2;
      background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: blur(2px);
    }
    @media (max-width: 1280.98px) {
      
    }
    @media (max-width: 744.98px) {
      
    }
    @media (max-width: 460.98px) {
      font-size: 44px;
      margin: 0 0 32px 0;
    }
  }

  &__block-width {
    display: flex;
    justify-content: center;
    @media (max-width: 1440px) {
      justify-content: flex-start;
      max-width: 100%;
      overflow-x: scroll;
    }
  }

  &__flex-direction {
    display: flex;
    align-items: stretch;
    gap: 12px;
    justify-content: space-between;
    width: 1120px;
  }

  &__info-block {
    position: relative;
    width: 300px; 
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    @media (min-width: 1440px) {
      width: 332px;
      
    }
  }

  &__video-block {
  }

  &__text-block {
  }

  &__text-one {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    margin: 0 0 4px 0;
  }

  &__text-two {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    margin: 0 0 4px 0;
  }

  &__button-block {
    margin: 20px 0 0 0;
  }

  &__read-more-button {
    color: var(--base-100_100, #FFF);
    padding: 10px 16px;
    /* desktop/small-button */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 16px */
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid var(--base-100_100, #FFF);
    cursor: pointer;
    &:hover {
      background: var(--base-100_100, #FFF);
      color: var(--base-900_100, #000);
    }
    &:active {
      background: var(--base-100_100, #ffffff7c);
      color: var(--base-900_100, #0000006e);
    }
  }
}
.container {
}




.present {
  &__wrapper {
    max-width: 1120px;
    margin: 0 auto;
    border-top: 1px dashed var(--base-100_20, rgba(255, 255, 255, 0.20));
  }

  &__block-title {
    margin: 0 0 56px 0;
    @media (max-width: 824.98px) {
      margin: 0 0 66px 0;
    }
    @media (max-width: 500.98px) {
      margin: 0 0 36px 0;
    }
  }

  &__image-block {
    float: right;
    margin: 0 0 0 10px;
  }

  &__foot-img {
    max-width: 332px;
    @media (max-width: 1024.98px) {
      max-width: 220px;
    }
    @media (max-width: 824.98px) {
      max-width: 160px;
    }
  }

  &__title {
    color: var(--base-100_100, #FFF);

    /* desktop/header-4 */
    font-family: "Bebas Neue Pro";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 50.4px */
    text-transform: uppercase;
    max-width: 676px;
    margin: 0 0 9px 0;
    @media (max-width: 1024.98px) {
      font-size: 34px;
      line-height: 34px;
    }
    @media (max-width: 824.98px) {
      font-size: 28px;
      line-height: 28px;
    }
    @media (max-width: 524.98px) {
      font-size: 20px;
      line-height:20px;
    }
  }

  &__text {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    max-width: 494px;
    @media (max-width: 1024.98px) {
      font-size: 16px;
      line-height: 16px;
    }
    @media (max-width: 824.98px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.container {
}

.present__information{
  color: var(--base-100_100, #FFF);

  /* desktop/body-M */
  font-family: "Bebas Neue Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 120%; /* 19.2px */
  max-width: 494px;
  @media (max-width: 1024.98px) {
    font-size: 14px;
    line-height: 14px;
  }
}





.present {

  &__wrapper {
    padding: 96px 0 96px 0;
    @media (max-width: 1500px) {
      padding: 64px 0 64px 0;
      
    }
  }

  &__block-title {
    margin: 0 0 56px 0;
    @media (max-width: 824.98px) {
      margin: 0 0 66px 0;
    }
    @media (max-width: 500.98px) {
      margin: 0 0 36px 0;
    }
  }

  &__image-block {
  }

  &__foot-img {
  }

  &__title {
  }

  &__text {
  }

  &__width {
    margin: 0 0 30px 0;
    @media (max-width: 1500px) {
      max-width: 100%;
      overflow-x: scroll;
    }
  }

  &__block-swiper {
    width: 1130px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    @media (max-width: 1500px) {
      width: 900px;
      justify-content: center;
      gap: 12px;
    }
    @media (max-width: 824.98px) {
      width: 750px;
    }
  }

  &__item {
    width: 363px;
    padding: 20px 10px 20px 20px;
    border-radius: 12px;
    border: 1px solid var(--base-100_20, rgba(255, 255, 255, 0.20));
    @media (max-width: 1500px) {
      width: 292px;
      padding: 20px 10px 20px 20px;
    }
    @media (max-width: 824.98px) {
      max-width: 240px;
      padding: 10px 5px 10px 10px;
    }
  }

  &__item-title {
    display: flex;
    align-items: center;
    max-height: 48px;
    margin: 0 0 8px 0;
  }

  &__img-container {
    flex: 0 0 auto;
    position: relative;
    margin: 0 12px 0 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--base-100_10, rgba(255, 255, 255, 0.10));
    backdrop-filter: blur(12px);
    &::after{
      position: absolute;
      content: '';
      background-color: #A569FF;
      filter: blur(34px);
      min-width: 42px;
      border-radius: 8px;
      min-height: 42px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__item-img {
    position: relative;
    z-index: 10;
    color: var(--base-100_100, #FFF);
  }

  &__item-title-text {
    color: var(--base-100_100, #FFF);

    /* desktop/header-7 */
    font-family: "Bebas Neue Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 21.6px */
    text-transform: uppercase;
    max-width: 180px;
    @media (max-width: 824.98px) {
      font-size: 20px;
      max-width: 170px;
    }
  }

  &__item-text {
    color: var(--base-100_100, #FFF);

/* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    @media (max-width: 824.98px) {
      font-size: 14px;
    }
  }

  &__information {
  }
}



.trials {

  &__wrapper {
    padding: 96px 0;
    border-top: 1px dashed var(--base-100_20, rgba(255, 255, 255, 0.20));
    border-bottom: 1px dashed var(--base-100_20, rgba(255, 255, 255, 0.20));
    @media (max-width: 1500px) {
      padding: 64px 0 64px 0;
    }
  }

  &__block-title {
    margin: 0 0 56px 0;
    @media (max-width: 824.98px) {
      margin: 0 0 66px 0;
    }
    @media (max-width: 500.98px) {
      margin: 0 0 36px 0;
    }
  }

  &__image-block {
    float: right;
    margin: 0 0 0 10px;
  }

  &__foot-img {
    max-width: 332px;
    @media (max-width: 1024.98px) {
      max-width: 220px;
    }
    @media (max-width: 824.98px) {
      max-width: 160px;
    }
  }

  &__title {
    color: var(--base-100_100, #FFF);

    /* desktop/header-4 */
    font-family: "Bebas Neue Pro";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 50.4px */
    text-transform: uppercase;
    max-width: 676px;
    margin: 0 0 9px 0;
    @media (max-width: 1024.98px) {
      font-size: 34px;
      line-height: 34px;
    }
    @media (max-width: 824.98px) {
      font-size: 28px;
      line-height: 28px;
    }
    @media (max-width: 524.98px) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__text {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    max-width: 494px;
    @media (max-width: 1024.98px) {
      font-size: 16px;
      line-height: 16px;
    }
    @media (max-width: 824.98px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.container {
}





.trials {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__block-title {
  }

  &__image-block {
  }

  &__foot-img {
  }

  &__title {
  }

  &__text {
  }

  &__block-tabs {
  }
}
.container {
}
.tab {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  &__step {
    width: 494px;
  }

  &__title {
    color: var(--base-100_100, #FFF);

    /* desktop/header-6 */
    font-family: "Bebas Neue Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 25.2px */
    text-transform: uppercase;
    margin: 0 0 32px 0;
    @media (max-width: 899.89px) {
      display: none;
    }
  }

  &__items {
    display: flex;
  }

  &__items-image {
    width: 37px;
    object-fit: contain;
    margin: 0 16px 0 0;
  }

  &__items-icon {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--base-100_50, rgba(255, 255, 255, 0.50));
    background: var(--base-900_100, #000);
    display: flex;
    width: 36px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--base-100_100, #FFF);

    /* desktop/button */
    font-family: "Bebas Neue Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
    &::after{
      position: absolute;
      content: '';
      background-color: #A569FF;
      filter: blur(34px);
      min-width: 36px;
      border-radius: 8px;
      min-height: 36px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  &__items-content {
    padding: 7px 0 0 0;
  }

  &__item-name {
    color: var(--base-100_100, #FFF);

    /* desktop/header-7 */
    font-family: "Bebas Neue Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 21.6px */
    text-transform: uppercase;
    @media (max-width: 397px) {
      font-size: 20px;
    }
  }

  &__item-text {
    margin-left: -16px;
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    align-self: stretch;
    @media (max-width: 476px) {
      font-size: 14px;
    }
  }

  &__support {
    width: 494px;
  }

  &__block-text {
    margin: 0 0 16px 0;
  }

  &__apr-block {
    display: flex;
    gap: 19px;
    margin: 0 0 12px 0;
    padding: 20px;
    border-radius: 12px;
    align-items: center;
    border: 1px solid var(--base-100_20, rgba(255, 255, 255, 0.20));
  }

  &__apr-img {
    min-width: 48px;
    max-width: 48px;
    padding: 10px;
  }

  &__apr-text {
    color: var(--base-100_100, #FFF);

    /* desktop/header-7 */
    font-family: "Bebas Neue Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 21.6px */
    text-transform: uppercase;
    @media (max-width: 476px) {
      font-size: 20px;
    }
  }
}


.tab {

  &__buttons {
    
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px 0 32px 0;
    border-radius: 8px;
    background: linear-gradient(0deg, #221930 -16.67%, #493565 120%);
    box-shadow: 0px 0px 40px 0px rgba(165, 105, 255, 0.40);
    // backdrop-filter: blur(12px);
    @media (min-width: 900px) {
      display:none;
    }
  }

  &__button-step {
    flex: 1 0;
    color: var(--base-100_100, #FFF);
    text-align: center;
    border-radius: 6px;
    
    /* desktop/header-6 */
    font-family: "Bebas Neue Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 25.2px */
    text-transform: uppercase;
    padding: 12px 30px;
    @media (max-width: 501px) {
      font-size: 20px;
    }
    @media (max-width: 426px) {
      font-size: 16px;
    }
  }

  &__button-sup {
    flex: 1 0;
    color: var(--base-100_100, #FFF);
    text-align: center;
    border-radius: 6px;
    
    /* desktop/header-6 */
    font-family: "Bebas Neue Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 25.2px */
    text-transform: uppercase;
    padding: 12px 30px;
    @media (max-width: 501px) {
      font-size: 20px;
    }
    @media (max-width: 426px) {
      font-size: 16px;
    }
  }
}


.tab__button-step.active,
.tab__button-sup.active {
  border-radius: 6px;
  background: var(--base-900_100, #000);
  // backdrop-filter: blur(12px);
  margin: 2px;
  @media (max-width: 501px) {
    font-size: 20px;
  }
  @media (max-width: 426px) {
    font-size: 16px;
  }
}



.academies {

  &__wrapper {
    padding: 96px 0;
    border-bottom: 1px dashed var(--base-100_20, rgba(255, 255, 255, 0.20));
    display: flex;
    flex-direction: column;
    @media (max-width: 1500px) {
      padding: 64px 0 64px 0;
    }
  }

  &__block-title {
    margin: 0 0 56px 0;
    @media (max-width: 824.98px) {
      margin: 0 0 66px 0;
    }
    @media (max-width: 500.98px) {
      margin: 0 0 36px 0;
    }
  }

  &__image-block {
    float: right;
    margin: 0 0 0 10px;
  }

  &__foot-img {
    width: 332px;
    margin: 0 0 8px 0;
    @media (max-width: 1024.98px) {
      width: 220px;
    }
    @media (max-width: 824.98px) {
      width: 160px;
    }
  }

  &__title {
    color: var(--base-100_100, #FFF);

    /* desktop/header-4 */
    font-family: "Bebas Neue Pro";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 50.4px */
    text-transform: uppercase;
    max-width: 676px;
    margin: 0 0 9px 0;
    @media (max-width: 1024.98px) {
      font-size: 34px;
      line-height: 34px;
    }
    @media (max-width: 824.98px) {
      font-size: 28px;
      line-height: 28px;
    }
    @media (max-width: 524.98px) {
      font-size: 20px;
      line-height:20px;
    }
  }

  &__text {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    max-width: 494px;
    @media (max-width: 1024.98px) {
      font-size: 16px;
      line-height: 16px;
    }
    @media (max-width: 824.98px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.container {
}


.tab__titletwo{
  color: var(--base-100_100, #FFF);

  /* desktop/header-6 */
  font-family: "Bebas Neue Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 25.2px */
  text-transform: uppercase;
  margin: 22px 0 32px 0;
  @media (max-width: 525px) {
    font-size: 20px;
  }
}


.academies {

  &__buttons {
    
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px 0 32px 0;
    border-radius: 8px;
    background: linear-gradient(0deg, #221930 -16.67%, #493565 120%);
    box-shadow: 0px 0px 40px 0px rgba(165, 105, 255, 0.40);
    // backdrop-filter: blur(12px);
    @media (min-width: 900px) {
      display:none;
    }
  }

  &__button-step {
    flex: 1 0;
    color: var(--base-100_100, #FFF);
    text-align: center;
    border-radius: 6px;
    
    /* desktop/header-6 */
    font-family: "Bebas Neue Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 25.2px */
    text-transform: uppercase;
    padding: 12px 30px;
    @media (max-width: 501px) {
      font-size: 20px;
    }
    @media (max-width: 426px) {
      font-size: 16px;
    }
  }

  &__button-sup {
    flex: 1 0;
    color: var(--base-100_100, #FFF);
    text-align: center;
    border-radius: 6px;
    
    /* desktop/header-6 */
    font-family: "Bebas Neue Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 25.2px */
    text-transform: uppercase;
    padding: 12px 30px;
    @media (max-width: 501px) {
      font-size: 20px;
    }
    @media (max-width: 426px) {
      font-size: 16px;
    }
  }
}


.academies__button-step.active,
.academies__button-sup.active {
  border-radius: 6px;
  background: var(--base-900_100, #000);
  // backdrop-filter: blur(12px);
  margin: 2px;
}


.info {

  &__block-points {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    @media (max-width: 899px){
      flex-direction: column;
      gap: 0;
    }
  }

  &__block-left {
    flex: 1 0;
  }

  &__block-right {
    flex: 1 0;
  }
}
.tab {

  &__apr-block {
  }

  &__apr-image-block {
    position: relative;
    border-radius: 8px;
    background: var(--base-100_10, rgba(255, 255, 255, 0.10));
    backdrop-filter: blur(12px);
    &::after{
      position: absolute;
      content: '';
      background-color: #A569FF;
      filter: blur(34px);
      min-width: 38px;
      border-radius: 8px;
      min-height: 38px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  &__apr-img {
  }

  &__apr-text {
  }
}


.align-center{
  align-items: center;
}



.services {

  &__video-block-one {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Центрування по вертикалі */
    overflow: hidden; /* Обрізання верхньої та нижньої частини */
    height: 224px;
    border-radius: 12px;
    margin: 0 0 20px 0;
    @media (max-width: 1440px) {
      height: 180px;
    }
    &::before {
      z-index: 2;
      content: 'Professional Career Management for Players';
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: var(--base-100_100, #FFF);

      /* desktop/header-6 */
      font-family: "Bebas Neue Pro";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%; /* 25.2px */
      text-transform: uppercase;
      // backdrop-filter: blur(12px);
    }
  }

  &__video-one {
    position: relative;
    width: 100%; /* Відео займає всю ширину контейнера */
    height: 100%; /* Відео займає всю висоту контейнера */
    object-fit: cover; /* Обрізання верхньої та нижньої частини */
  }
  &__video-block-two {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Центрування по вертикалі */
    overflow: hidden; /* Обрізання верхньої та нижньої частини */
    height: 224px;
    border-radius: 12px;
    margin: 0 0 20px 0;
    @media (max-width: 1440px) {
      height: 180px;
    }
    &::before {
      z-index: 2;
      content: 'Football Trials/Tryouts';
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: var(--base-100_100, #FFF);
      max-width: 165px;

      /* desktop/header-6 */
      font-family: "Bebas Neue Pro";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%; /* 25.2px */
      text-transform: uppercase;
      // backdrop-filter: blur(12px);
    }
    &::after {
      z-index: 2;
      content: '18-23 y.o.';
      position: absolute;
      left: 10px;
      bottom: 70px;
      color: var(--base-100_50, rgba(255, 255, 255, 0.50));

      /* desktop/header-6 */
      font-family: "Bebas Neue Pro";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%; /* 25.2px */
      text-transform: uppercase;
    }
  }

  &__video-two {
    position: relative;
    width: 100%; /* Відео займає всю ширину контейнера */
    height: 100%; /* Відео займає всю висоту контейнера */
    object-fit: cover; /* Обрізання верхньої та нижньої частини */
  }
  &__video-block-three {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Центрування по вертикалі */
    overflow: hidden; /* Обрізання верхньої та нижньої частини */
    height: 224px;
    border-radius: 12px;
    margin: 0 0 20px 0;
    @media (max-width: 1440px) {
      height: 180px;
    }
    &::before {
      z-index: 2;
      content: 'Professional Career Management for Players';
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: var(--base-100_100, #FFF);

      /* desktop/header-6 */
      font-family: "Bebas Neue Pro";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%; /* 25.2px */
      text-transform: uppercase;
      // backdrop-filter: blur(12px);
    }
    &::after {
      z-index: 2;
      content: '13-18 y.o.';
      position: absolute;
      width: 200px;
      left: 10px;
      bottom: 70px;
      color: var(--base-100_50, rgba(255, 255, 255, 0.50));

      /* desktop/header-6 */
      font-family: "Bebas Neue Pro";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%; /* 25.2px */
      text-transform: uppercase;
    }
  }

  &__video-three {
    position: relative;
    width: 100%; /* Відео займає всю ширину контейнера */
    height: 100%; /* Відео займає всю висоту контейнера */
    object-fit: cover; /* Обрізання верхньої та нижньої частини */
  }
}

.services__license{
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 8px;
  min-width: 182px;
  min-height: 48px;
  border: 1px solid var(--base-100_10, rgba(255, 255, 255, 0.10));
  background: var(--base-100_10, rgba(255, 255, 255, 0.10));
  backdrop-filter: blur(2px);
}

.services__license-img{
  position: absolute;
  min-width: 180px;
  min-height: 32px;
  top: 0px; 
  left: 0px;
}
